@use '../styles/variables' as var;
.Backdrop {
	&[data-display-large='false'] {
		display: none;
	}
	&[data-display-large='true'] {
		background-color: rgba(black, 0.9);
		bottom: 0;
		display: block;
		left: 0;
		height: 100vh;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 10;
		.Figure {
			left: 50%;
			margin: 0;
			position: absolute;
			text-align: center;
			top: 50%;
			transform: translate3d(-50%, -50%, 0);
			width: 100%;

			.img {
				max-width: 100%;
			}
			.figcaption {
				font-size: var.$font-size-reg;
				line-height: 1.5;
				padding: 1rem 0;
				text-align: center;
			}
		}
		.btn-primary {
			background-color: var.$primary;
			border-radius: var.$lg;
			color: var.$white;
			margin-left: 1rem;
			padding: 0.5rem 1rem;
			text-decoration: none;
			&.btn-close {
				align-items: center;
				border: 0;
				border-radius: 50%;
				display: flex;
				height: 5.4rem;
				justify-content: center;
				right: 2rem;
				top: 2rem;
				position: absolute;
				width: 5.4rem;
				.icon {
					font-size: var.$font-size-md;
				}
			}
		}
	}
}
