@use '../styles/variables' as var;

.Dictionary {
	.Form {
		.input-search {
			background-color: var.$gray;
			border: 0;
			border-bottom: 1px solid var.$white;
			height: 4rem;
			width: 100%;
		}
	}
}
