@use '../styles/variables' as var;
@use '../styles/base' as base;

.Results {
	.searched-word {
		@extend .h2;
		font-size: var.$font-size-lg;
		padding-left: 1rem;
	}
	.border {
		border: 1px solid var.$primary;
		border-radius: var.$lg;
		margin: 1rem 1rem 2rem 1rem;
	}
}
