@use '../styles/variables' as var;
.Synonyms {
	.word {
		background-color: transparent;
		cursor: pointer;
		transition: background-color 200ms ease-in-out;
		&:hover {
			background-color: var.$primary;
		}
	}
}
